/* Police */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

/* Body police*/

body
{
  font-family: "roboto", "sans-serif";
  margin: 0;
} 

.bloc_page
 {
  max-width: 100%;
  margin: auto;
  justify-content: center;
 }

 .loading 
 {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    z-index: 10;
    animation: fadeout 0.5s forwards;
    animation-delay: 0s;
    animation-delay: 2s;
    position: fixed;
 }

 /* Spinner */

@keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

 .spinner{
    width: 5em;
    height: 5em;
    border: 5px solid skyblue;
    border-top-color: skyblue;
    border-top-style: solid;
    border-top: 5px solid #ee82ee;
    border-radius: 50%;
    animation: spin 0.5s infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* Header */

  .header_logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Shrikhand";
  }

.localisation,
.titre 
{
  text-align: center;
}
header {
  font-size: 1.8rem;
  top: 4.5%;
}

/* Logo */

.header_log{
text-align: center;
width: 150px;
}

h1 {
text-align: center;
}

.logolocalisation{
width: 20px;
font-size: 15px;
border-radius: 10px 0px 0px 10px;
text-align: center;
padding: 12px;
}

/* Localisation*/

.cadre_localisation{
background: #ececec;
padding-bottom: 30px;
}

.localisation{
background: #d3d3d3;
}

.logo_localisation{
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: black;
font-weight: bold;
font-size: 1rem;
}

.localisation_texte{
margin: 0 25px;
}

.localisation .fas{
margin-bottom: 2px;
}

/* Reservez, bouton explorer*/

.sous_titre{
font-weight: normal;
font-size: 1.1rem;
text-align: center;
margin: 0 20px;
}

.boutonexplorer{
  position: relative;
  display: block;
  text-decoration: none;
  width: 220px;
  height: 50px;
  margin: 30px auto;
  border-radius: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 2px 4px #636363cc;
  z-index: 1;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.explorerestau{
  text-align: center;
  padding-top: 15px;
  color: white;
  font-weight: bold;
}

.explorerestau:hover::after{
  opacity: 1;
}

.explorerestau::after{
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#dc66e0, #df96ee);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.bloc-titre {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 50px 0 10px 20px;
  margin: 0;
}

.bloc-fonctionnement {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.onglet-fonct {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #ececec;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  box-shadow: 2px 2px 7px #d3d3d3;
}
.onglet-fonct__ball {
  position: relative;
  margin-left: -10px;
  height: 27px;
  width: 27px;
  background: #9356dc;
  border-radius: 20px;
}
.onglet-fonct .fas {
  width: 15px;
  height: 15px;
  color: #636363cc;
  margin-left: 20px;
}
.onglet-fonct__numb {
  margin: 4px 0 0 9px;
  font-weight: bold;
  color: white;
}
.onglet-fonct__text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 27px;
  margin: 0;
}
.onglet-fonct:hover {
  background: #f2eafb;
  transition: 0.5s linear;
}
.onglet-fonct:hover .fas {
  color: #9356dc;
  transition: 0.5s linear;
}

.categories {
  margin: 0;
  padding: 1em;
}

.liste {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bloc-fonctionnement {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.onglet-fonctionnement {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #ececec;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.onglet-fonctionnement__1 {
  position: relative;
  margin-left: -10px;
  height: 27px;
  width: 27px;
  background: #9356dc;
  border-radius: 20px;
}
.onglet-fonctionnement .fas {
  width: 15px;
  height: 15px;
  color: #636363cc;
  margin-left: 20px;
}
.onglet-fonctionnement__2 {
  margin: 4px 0 0 9px;
  font-weight: bold;
  color: white;
}
.onglet-fonctionnement__text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 27px;
  margin: 0;
}
.onglet-fonct:hover {
  background: #f2eafb;
  transition: 0.5s linear;
}
.onglet-fonct:hover .fas {
  color: #9356dc;
  transition: 0.5s linear;
}

.categories {
  margin: 0;
  padding: 1em;
}

.liste {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bloc-fonctionnement {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.onglet-fonctionnement {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #ececec;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.onglet-fonctionnement__1 {
  position: relative;
  margin-left: -10px;
  height: 27px;
  width: 27px;
  background: #9356dc;
  border-radius: 20px;
}
.onglet-fonctionnement .fas {
  width: 15px;
  height: 15px;
  color: #636363cc;
  margin-left: 20px;
}
.onglet-fonctionnement__2 {
  margin: 4px 0 0 9px;
  font-weight: bold;
  color: white;
}
.onglet-fonctionnement__text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 27px;
  margin: 0;
}
/* Restaurants */

.fond-gris {
  background: #ececec;
}

.titre_sections {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 50px 0 10px 20px;
  margin: 0;
  padding: 1em;
}
.bloc-restaurant {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rest-prev {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
}
.rest-prev__lien {
  text-decoration: none;
  color: black;
}
.rest-prev__carte {
  overflow: hidden;
  height: 70%;
}
.rest-image {
  border-radius: 20px 20px 0px 0px;
  width: 336px;
  height: 100%;
  object-fit: cover;
}
.rest-prev__nouveau {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99e2d0;
  border-radius: 2px;
}
.rest-prev__nouveautext {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: #278870;
  padding: 8px;
}
.rest-prev__titre {
  margin: 15px 0px 5px 15px;
  font-weight: bold;
  font-size: 1rem;
}
.rest-prev__place {
  margin: 0px 0px 0px 15px;
  font-weight: normal;
  font-size: 1rem;
}
/* 
.rest-prev .coeur:hover .fas.fa-heart {
  opacity: 1;
}
.rest-prev .coeur:hover .far.fa-heart {
  opacity: 0;
}
.rest-prev .fas.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  background: linear-gradient(#ff79da, #9356dc);
}
*/ 
.fa-heart:hover {
  animation: fill 2s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-image: inherit;
  color: #ff79da;
  font-weight: bold;
}

@keyframes fill {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}


@keyframes heart2{
  0%{opacity:0;}
  10%{opacity:0.1;}
  20%{opacity:0.2;}
  30%{opacity:0.3;}
  40%{opacity:0.4;}
  50%{opacity:0.5;}
  60%{opacity:0.6;}
  70%{opacity:0.7;}
  80%{opacity:0.8;}
  90%{opacity:0.9;}
  100%{opacity:1;}

}
.rest-prev .far.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
  opacity: 1;
}

.fond-gris-menu {
  position: relative;
  background-color: #ececec;
  border-radius: 45px 45px 0px 0px;
  margin-top: -50px;
  padding-bottom: 10px;
}

.page-restaurant {
  margin: 0px 20px;
}
.page-restaurant__titre {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  margin: 0;
  padding-top: 20px;
}
.page-restaurant .coeur:hover .fas.fa-heart {
  opacity: 1;
}
.page-restaurant .coeur:hover .far.fa-heart {
  opacity: 0;
}
.page-restaurant .fas.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 30px;
  background: linear-gradient(#ff79da, #9356dc);
}
.page-restaurant .far.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 30px;
  opacity: 1;
}

/* Footer */

.footer {
  background: rgba(23, 23, 23, 0.8);
  height: 200px;
  text-align: center;
}
.footer__1 {
  margin: 0px 20px;
}
.footer__titre {
  color: white;
  font-family: "Shrikhand";
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 20px 0px 18px 0px;
}
.footer__3 {
  margin: 8px 0;
}
.footer__3 .fas {
  font-size: 0.7rem;
  margin-right: 8px;
}
.footer__2 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.footer__4 {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 1rem;
}
@media screen and (min-width: 1020px) {
  .bloc-fonctionnement {
    flex-direction: row;
  }

  .bloc-restaurant {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .footer__1{
   text-align: center;
  }

}
@media screen and (min-width: 764px) and (max-width: 900px) {
  .bloc-restaurant {
    width: 46%;
  }