/* Police */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

/* Body police*/

body
{
  font-family: "roboto", "sans-serif";
  margin: 0;
} 

.bloc_page
 {
  max-width: 100%;
  margin: auto;
  justify-content: center;
 }

 .loading 
 {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    z-index: 10;
    animation: fadeout 0.5s forwards;
    animation-delay: 0s;
    animation-delay: 2s;
    position: fixed;
 }

 /* Spinner */

@keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

 .spinner{
    width: 5em;
    height: 5em;
    border: 5px solid skyblue;
    border-top-color: skyblue;
    border-top-style: solid;
    border-top: 5px solid #ee82ee;
    border-radius: 50%;
    animation: spin 0.5s infinite;
  }

  /* Header */

  .header_logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Shrikhand", "cursive";
  }

.localisation,
.titre 
{
  text-align: center;
}
header {
  font-size: 1.8rem;
  top: 4.5%;
}

/* Logo */

.header_log{
text-align: center;
width: 150px;
}

h1 {
text-align: center;
}

.logolocalisation{
width: 20px;
font-size: 15px;
border-radius: 10px 0px 0px 10px;
text-align: center;
padding: 12px;
}

/* Localisation*/

.cadre_localisation{
background: #ececec;
padding-bottom: 30px;
}

.localisation{
background: #d3d3d3;
}

.logo_localisation{
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: black;
font-weight: bold;
font-size: 1rem;
}

.localisation_texte{
margin: 0 25px;
}

.localisation .fas{
margin-bottom: 2px;
}
